.navbar {

    padding: 0px 10px;

}

.menu {
    list-style: none;
    display: flex;
    gap: 5rem;
    margin-top: 10px;

}

.menu a {
    text-decoration: none;
    color: black;
    font-size: 15px;
}

.btn .secondbtn {
    background-color: green;
    border-radius: 10px;
    padding: 5px 5px;
    color: white;
    border: none;
}

.times {
    display: flex;
    gap: 2rem;
}

.right {
    width: 300px;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;

}

.right h1 {
    font-size: 4rem;
}

.flowers {
    width: 350px;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;

}

.tajriba {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

.right button {
    background-color: green;
    color: white;
    padding: 5px 5px;
    border: none;
    border-radius: 10px;
    width: 100px;
}

section {
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.flowers a {
    color: #4A4A4A;
    text-decoration: none;
}

.box {
    position: relative;

}

.box img {
    position: absolute;

}

.tree {
    top: -12.50rem;
    left: 4rem;

}

.green-bg {
    top: -14.50rem;

}

.secondsection {
    display: flex;
    margin-top: 50px;
}

.box-text {
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.box-text button,
.thirdsection button {
    background-color: green;
    color: white;
    border-radius: 10px;
    border: none;
    width: 131px;
    height: 50px;
}

.paragraf {
    color: green;
}

.thirdsection {
    text-align: center;

}


.part {

    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;

}

.part-two {

    display: flex;

    justify-content: space-between;
    align-items: center;
}

.prices {
    display: flex;
    gap: 24px;
    width: 1152px;

    margin: 0 auto;
}

.thirdsection .eyj {
    margin-bottom: 60px;
}

.customer-opinion {

    margin-top: 50px;
}

.man-comment {
    background: #066F14;
    color: white;
    width: 597px;
    height: 204px;
}

.rasm {
    position: relative;
    padding: 20px 0px;
}

.rasm h3 {
    margin-left: 6rem;
    font-size: 20px;


}



.rasm img {
    position: absolute;
}

.rasm .yigit {

    left: 32px;
    top: 20px;
}

.fikr {

    width: 400px;
    right: 84rem;


}



.project {
    display: flex;

}



.letters {
    width: 100%;
    height: 320px;
    border-radius: 6px;
    background: #DFFFE3;
    position: relative;
    top: 15rem;
}

/* son */

.son {
    display: flex;
    align-items: center;
    gap: 5rem;
    margin-top: 140px;
}

.left {
    display: flex;
    flex-direction: column;
    background: red;
    height: 200px;
    padding: 20px;
}

.left-img {
    display: flex;
    gap: 8px;
}

.left-img h3 {
    font-size: 18px;
    width: 20px;
}


/* son end */

.letter {

    height: 200px;
    position: absolute;
    left: 59px;
    top: 60px;

}

.email {
    width: 451px;
    height: 56px;
    border-radius: 4px;
    background: white;
    text-align: left;
    padding: 4px 4px;
    display: flex;
    align-items: center;


}

.email button {
    position: absolute;
    width: 98px;
    height: 40px;
    border-radius: 4px;
    background: #066F14;
    color: white;
    border: none;
    left: 21.70rem;


}

/* card */

.cards {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    width: 100%;
    gap: 20px;

}

.cards .card {
    background: #EAF2E5;
    width: 270px;
    height: 283px;
}

.card1 {
    background-color: #F0EBE6;
    width: 270px;
    height: 283px;

}

.card2 {
    background-color: #E2ECE4;
    width: 270px;
    height: 283px;

}

.card3 {
    background-color: #E7EEED;
    width: 270px;
    height: 283px;

}

.card,
.card1,
.card2,
.card3 {
    border: none;
    display: flex;
    flex-direction: column;
    padding: 10px;

}

.card h1,
.card1 h1,
.card2 h1,
.card3 h1 {
    text-align: start;
    font-size: 25px;
}

.card-img .card1-img .card2-img .card3-img {
    display: flex;
    width: 120px;
    justify-content: center;
    align-items: center;
}

.card-icon,
.card1-icon,
.card2-icon,
.card3-icon {
    text-align: start;
}

/* card */

.letters img {
    position: absolute;
    right: 0rem;
    bottom: -0rem;
}

.our-instagram {
    margin-top: 400px;
    width: 100%;
    height: 121px;
    text-align: center;
}

.card {
    width: 230px;
    height: 240px;
}

.instagram {
    display: flex;
    justify-content: center;
    width: 100%;
}

.our-instagram {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}



.footermenu {

    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 10px;
}

.footer-part {

    display: flex;
    justify-content: space-around;
    gap: 80px;

}

.logolar i {
    font-size: 40px;

}

.footer-part {
    margin-top: 100px;
}

.logolar {
    display: flex;
    gap: 2rem;
}

.one {
    width: 306px;
    height: 133px;
}

.footer-part {
    display: flex;
}

.footermenu {
    list-style: none;
}

.footermenu a {
    text-decoration: none;
    color: black;
}

.halqa {
    display: flex;
}

.rasm {
    width: 48px;
    height: 48px;
}

@media(max-width:1200px) {

    .container {
        max-width: 1200px;
        width: 100%;
        margin: auto;
    }

    .part {
        justify-content: space-between;

    }

    .box-text {
        width: 380px;
    }

    .pictures img {
        width: 180px;
    }
}


@media (max-width:992px) {
    .container {
        max-width: 100%;

    }

    .navbar {
        align-items: center;
        justify-content: space-around;
        display: flex;
    }

    .rightt img {
        max-width: 100%;
        justify-content: space-around;
    }


    .prices {
        height: 650px;
        width: 800px;

    }

    .cards {
        padding-left: 120px;

    }

    .our-instagram {
        text-align: center;
    }

    .instagram {
        flex-wrap: wrap;
        width: 730px;
        margin: 0 auto;
        gap: 15px;
    }


}

@media (max-width: 766px) {
    .box-text {
        flex-direction: column;
        margin-top: 30rem;
    }

    .part-two {
        display: flex;
        flex-direction: column;

    }

    .box {
        left: -200px;
        top: 200px;
    }

    .pictures img {
        width: 120px;
    }
}

@media (max-width:587px) {
    .menu {
        display: none;
    }

    .tajriba {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }



    .part {
        flex-direction: column;
    }


    .prices {
        flex-direction: column;
        max-width: 100%;
        height: 1300px
    }

    .son {
        flex-direction: column;
    }

    .letters img {
        display: none;
    }

    .instagram {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 200px;
    }

    .one {
        display: none;
    }

    .box img {
        left: 20px;
    }

    .footer-part h1 {
        font-size: 18px;
        text-align: center;
        color: darkblue;
    }

    .footer-part {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width:396px) {
    .container {
        max-width: 100%;
    }

    .logo {
        color: darkgreen;
        font-size: 20px;
    }

    .box-text {
        margin-top: 350px;
        width: 100%;
        padding: 10px 20px;
    }

    .btn button {
        border: none;
        background-color: rgb(195, 190, 190);
        color: darkblue;
        border-radius: 10px;
        padding: 5px;
    }

    header img {
        display: none;
    }

    .box img {
        left: 35px;
    }

    .pictures img {
        display: flex;
        flex-direction: none;
    }

    .flowers {
        text-align: center;
        font-size: 10px;
    }

    .green-bg {
        width: 330px;
        height: 330px;


    }

    .tree {
        width: 300px;
        height: 300px;

    }

    .prices {
        width: 100%;
        align-items: center;
    }

    .cards {
        padding: 0;

    }

    .card,
    .card1,
    .card2,
    .card3 {
        margin: 0 auto;
    }

    .thirdsection {

        margin: 0;
    }

    .customer-opinion h1 {
        width: 100%;
        text-align: center;
    }

    .customer-opinion p {
        width: 100%;
        text-align: center;
    }

    .left {
        background-color: green;
        width: 100%;
    }

    .son {
        gap: 30px;
    }

    .fikr {
        width: 110%;
    }

    .letter p {
        width: 100%;
    }

    .email {
        width: 90%;
    }

    .email button {
        left: 130px;
    }


    .our-instagram {
        margin-top: 290px;
    }

    .footer-part {
        margin-top: 0;
        gap: 5px;
    }


    .footer-part {
        justify-content: center;
        align-items: center;

    }

    .footermenu {
        padding: 0;
        width: 150px;

    }


}


































/***************************
@media (max-width:567px){
   .man-comment{
    display: block;
   }
   .tajriba{
    flex-wrap: wrap;
    text-align: center;
   }

.part{
    flex-wrap: wrap;
    gap: 40px;
}
.secondsection{
    flex-wrap: wrap;
}
.prices{
    flex-wrap: wrap;
    width: 200px;

    width: 200px;
    height: 200px;
}
.instagram {
    flex-wrap: wrap;
    display: flex;
    width: 200px;

    align-items: center;
}
.letters{
    width: 500px;
    height: 200px;
}
.footer-part{
    flex-wrap: wrap;
}


}

/***********************

   